{% extends "basefront.html.twig" %}

{% block body %}
    <h2>Bienvenue sur mon site personnel de présentation de mes voyages.</h2>
    <p>Dans la partie <a href="{{ path('voyages') }}">Voyages</a>, vous pouvez voir la liste des visites que j'ai faites dans différentes villes. 
        <br>A chaque fois j'ai précisé la ville visitée, le pays, j'ai mis une note (entre 0 et 20) et il y a aussi a la date de la visite.
        <br>Vous pouvez trier la liste en fonction des villes, des pays, des notes et des dates, aussi bien dans l'ordre croissant que décroissant.
        <br>Vous pouvez aussi filtrer les visites par rapport à une ville ou un pays.
        <br>En cliquant sur la ville de la visite, vous pourrez avoir plus d'informations dessus :
        <br>températures min et max, une description de la visite, les environnements (montagne, mer, désert...) et une photo.
        <br>Enfin, vous pouvez me contacter avec le formulaire de <a href="{{ path('contact') }}">contact</a>.
    </p>
    <p>Voici mes 2 derniers voyages :</p>


    <div class="row mt-3">
        {% for visite in visites %}
            <div class="col">
                {% if visite.imagename %}
                    <img src="{{ app.request.getBasePath()~vich_uploader_asset(visite, 'imageFile') }}" class="card-img-top" style="width:100%;height:auto;">
                {% endif %}
            </div>
            <div class="col">

                <h5>{{ visite.datecreationstring }}</h5>
                <h3 class="text-primary mt-5"><a href='{{ path('voyages.showone', {id:visite.id}) }}'>{{ visite.ville }}</a></h3>
                <h4>{{ visite.pays }}</h4>
                {% if visite.note>=10 %}
                    <h3 class="text-success mt-5">{{ visite.note }}/20</h3>
                {% else %}
                    <h3 class="text-danger mt-5">{{ visite.note }}/20</h3>
                {% endif %}
                <h5 class="mt-5">t° entre {{ visite.tempmin }}° et {{ visite.tempmax }}°</h5>
                <p class="mt-5"><strong>Environnements :</strong></p>
                {% for environnement in visite.environnements %}
                    {{ environnement.nom }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>


{% endblock %}